<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}}{{else}}Refúgio Cristão | Conteúdo e Conselhos Baseados na Fé{{/if}}</title>
    <meta name="description" content="Descubra conselhos inspiradores, conteúdos edificantes e uma rica coleção de livros cristãos que fortalecem sua fé e proporcionam direção espiritual.">
    <meta name="keywords" content="refúgio cristão, conselhos, livros cristãos, conteúdo cristão, fé, inspiração, espiritualidade">
    <meta name="author" content="DevelopersMz">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="{{#if title}}{{title}}{{else}}Refúgio Cristão - Conteúdo e Conselhos Baseados na Fé{{/if}}">
    <meta property="og:description" content="Descubra conselhos inspiradores, conteúdos edificantes e uma rica coleção de livros cristãos que fortalecem sua fé e proporcionam direção espiritual.">
    <meta property="og:image" content="/img/logo-refugio-cristao.png">
    <meta property="og:url" content="https://refugiocristao.onrender.com">
    <meta property="og:type" content="website">
    <link rel="icon" href="/img/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
</head>
<body>
    {{{ body }}}
</body>
</html>